@{
    ViewBag.Title = "Home Page";
}
<div id="aquireact"></div>
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

@*<script src="~/Scripts/Header.js"></script>
    <script src="~/Scripts/HelloWorld.js"></script>*@



<script>
    mostrarHelloWorld = true;
</script>

<script src="~/dist/bundle.js"></script>
@*<script src="http://localhost:8080/bundle.js"></script>*@

