@{
    ViewBag.Title = "Home Page";
}
<div id="aquireact"></div>


<script>
    mostrarHelloWorld = true;
</script>

@*<script src="~/dist/bundle.js"></script>*@
<script src="~/dist/bundle.helloWorld.js"></script>
@*<script src="http://localhost:8080/bundle.js"></script>*@

